@import "variables.css";

html{
    scroll-behavior: smooth;
    background: var(--background);
    color: var(--text);
    width: 100%;
}

.gaminglegenden-logo{
    width: 100%;
    padding-top: 30px;
}

.button:hover{
    color:rgb(42, 20, 172);
    outline: invert;
}

.button{
    text-decoration: none;
    margin: 10px;
    margin-right: 30px;
    padding: 7px;
    outline: var(--secoundary);
    outline-width: 5px;
    outline-style: ridge;
    font-family: sans-serif;
    font-size: 19px;
    box-shadow: 8.5px 10px 5px teal;
    background-color: var(--overlay);
}

.boxen{
    font-family: cursive;
    font-size: 15px;
    padding-top: 20px;
}

#projekte{
    background-color: var(--overlay);
    border: 12px solid var();
    border-radius: 28px;
    padding:15px;
    padding-bottom: 300px;
    margin-bottom: 30px;
}

#personen{
    background-color: #CE3134;
    border: 12px solid #7e191a;
    padding:15px;
    border-radius: 28px;
    margin-bottom: 30px;
}

#kontakt{
    background-color: #31CECB;
    border: 12px solid #16706f;
    margin-bottom: 50px;
    padding:15px;
    border-radius: 28px;
    padding-bottom: 300px;
    margin-bottom: 30px;
}

p{
    font-size: 20px;
}

.twitch-link{
    text-decoration: none;
    margin-left: 25%;
    margin-right: 1%;   
}

.twitch-link:hover{
    color: darkblue
}