@import "variables.css";

html{
    scroll-behavior: smooth;
    background: var(--background);
    color: var(--text);
}

body{
    margin: 0;
}

.button:hover{
    color: var(--secoundary);
}

.button{
    text-decoration: none;
    margin: 10px;
    margin-right: 30px;
    padding: 7px;
    outline: var(--primary);
    outline-width: 5px;
    outline-style: ridge;
    font-family: sans-serif;
    font-size: 19px;
    box-shadow: 6px 6px 10px var(--primary);
    background-color: var(--overlay);
    color: var(--primary);
}

.boxen{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding-top: 20px;
}

#projekte{
    background-color: var(--overlay);
    border-radius: 10px;
    padding:15px;
    margin: 17px;
}

#personen{
    background-color: var(--overlay);
    border-radius: 10px;
    padding:15px;
    margin: 17px;
}

#kontakt{
    background-color: var(--overlay);
    border-radius: 10px;
    padding:15px;
    margin: 17px;
    margin-bottom: 50px;
}

p{
    font-size: 20px;
}

.twitch-link{
    text-decoration: none;
    margin-left: 50%;
    margin-right: 50%;   
}

.twitch-link:hover{
    color: var(--secoundary)
}

a:link { color: var(--primary); }
a:hover { color: var(--secoundary); }
a:active { color: var(--secoundary); text-decoration:none; font-weight:normal; }

.container{
    position: relative;
    height: 15vh;
}
  
.wave{
    position: absolute;
    bottom: 0;
    height: 120px;
    width: 100%;
    background: url('./pictures/wave.png') repeat-x;
    background-size: 250rem 30rem;
    animation: animate 15s linear infinite;
}
  
@keyframes animate{
    0% {
      background-position-x: 0;
      background-position-x: -250rem;
    }
}
  
.wave:nth-child(1){
    opacity: 0.9;
}
  
.wave:nth-child(2){
    opacity: 0.5;
    animation-delay: 0.2s;
    animation-direction: reverse;
}
  
.wave:nth-child(3){
    opacity: 0.7;
    animation-delay: 5s;
}
