.gaminglegenden-logo{
    width: 100%;
}

.überschrift{
    color: #c90505;
    padding: 20px;
    padding-left: 120px;
    font-size: 35px !important;
    
}

a:hover{
    color:rgb(42, 20, 172);
    outline: invert;
}

a{
    text-decoration: none;
    color: #e72121;
    margin: 27px;
    margin-right: 50px;
    background-color: darkmagenta;
    padding: 7px;
    outline: aqua,;
    outline-width: 5px;
    outline-style: groove;
    font-family: sans-serif;
    font-size: 17px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: none;
    background: linear-gradient(to right,#1a3ddada,#ff0000 );
    padding-top: 50px;
    padding-bottom: 60px;
}

.überschrift:hover{
    transform: scale(1.02);
    color:#d81515;
}

.all{
    background-color: black;
}

.white{
    color: white;
}