.gaminglegenden-logo{
    width: 100%;
}

.überschrift{
    color: rgb(204, 66, 12);
    padding: 20px;
    padding-left: 120px;
}

a:hover{
    color:rgb(12, 97, 131);
}

a{
    text-decoration: none;
    color: rgb(25, 0, 255);
    margin: 22px;
    margin-right: 50px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: none;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 60px;
}