:root {
    --background: #121212;
    --overlay: #282828;
    --secoundary: #03dac5ab;
    --primary: #ac67ffbe;
    --primary-variant: #3600b3ab;
    --error: #ce4760ab;
    --text: #fff;
}
